<h1>Question: <%= @question.name %></h1>
<h2>Survey: <%= @survey.name %></h2>

<p><%= link_to "Edit question", edit_survey_question_path(@survey, @question) %></p>
<p><%= link_to "Delete question", survey_question_path(@survey, @question),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to survey", survey_path(@survey) %></p>
